31
Dictionaries: Looping through values

In [1]:
idcard = {"first name": "Muhammad", 
         "last name": "Muzammil",
         "age": 21,
         "city": "Karachi"}

In [2]:
idcard

{'first name': 'Muhammad',
 'last name': 'Muzammil',
 'age': 21,
 'city': 'Karachi'}

In [4]:
type(idcard)

dict

In [5]:
id(idcard)

1846452245888

In [7]:
for each_value in idcard.values():
    print(each_value)

Muhammad
Muzammil
21
Karachi

In [10]:
for each_key in idcard.values():# after for type any no/var
    print(each_key)

Muhammad
Muzammil
21
Karachi

32
Dictionaries: Looping through keys

In [11]:
for each_key in idcard.keys():
    print(each_key)

first name
last name
age
city

In [15]:
for each_key in idcard.fromkeys("first name"):
    print(each_key)

f
i
r
s
t

n
a
m
e

In [23]:
 for each_key, each_value in idcard.items():
        print("The customer's " + each_key + " is " +
              each_value)

The customer's first name is Muhammad
The customer's last name is Muzammil

TypeError: can only concatenate str (not "int") to str

In [24]:
idcard = {"first name": "Muhammad", 
         "last name": "Muzammil",
         "age": "21",
         "city": "Karachi"}

In [25]:
idcard

{'first name': 'Muhammad',
 'last name': 'Muzammil',
 'age': '21',
 'city': 'Karachi'}

In [26]:
 for each_key, each_value in idcard.items():
        print("The customer's " + each_key + " is " +
              each_value)

The customer's first name is Muhammad
The customer's last name is Muzammil
The customer's age is 21
The customer's city is Karachi

34
Creating a list of dictionaries

In [36]:
customers = [{"id": "0", "first name": "Muhammad",
             "last name": "Muzammil", "city": "Karachi",},
            {"id": "0", "first name": "Muhammad", 
             "last name": "Umar", "city": "Lahore",},
            {"id": "0", "first name": "Muhammad",
             "last name": "Siddique", "city": "Karachi",}]

In [37]:
customers

[{'id': '0',
  'first name': 'Muhammad',
  'last name': 'Muzammil',
  'city': 'Karachi'},
 {'id': '0', 'first name': 'Muhammad', 'last name': 'Umar', 'city': 'Lahore'},
 {'id': '0',
  'first name': 'Muhammad',
  'last name': 'Siddique',
  'city': 'Karachi'}]

In [38]:
type(customers)

list

35
How to pick information out of a list of
dictionaries

In [39]:
customers

[{'id': '0',
  'first name': 'Muhammad',
  'last name': 'Muzammil',
  'city': 'Karachi'},
 {'id': '0', 'first name': 'Muhammad', 'last name': 'Umar', 'city': 'Lahore'},
 {'id': '0',
  'first name': 'Muhammad',
  'last name': 'Siddique',
  'city': 'Karachi'}]

In [2]:
customers = [{"id": "0", "first name": "Muhammad",
             "last name": "Muzammil", "city": "Karachi",},
            {"id": "0", "first name": "Muhammad", 
             "last name": "Umar", "city": "Lahore",},
            {"id": "0", "first name": "Muhammad",
             "last name": "Siddique", "city": "Karachi",}]

In [4]:
customers

[{'id': '0',
  'first name': 'Muhammad',
  'last name': 'Muzammil',
  'city': 'Karachi'},
 {'id': '0', 'first name': 'Muhammad', 'last name': 'Umar', 'city': 'Lahore'},
 {'id': '0',
  'first name': 'Muhammad',
  'last name': 'Siddique',
  'city': 'Karachi'}]

In [5]:
dictionary_to_look_in = customers[1]

In [6]:
dictionary_to_look_in["last name"]

'Umar'

In [7]:
dictionary_to_look_in["city"]

'Lahore'

In [8]:
dictionary_to_look_in = customers[2]

In [9]:
dictionary_to_look_in["last name"]

'Siddique'

36
How to append a new dictionary to a
list of dictionaries

In [10]:
len(customers)

3

In [11]:
new_dic = {"id": "3", "first name": "Muhammad",
             "last name": "Taha", "city": "Dubai"}

In [12]:
new_dic

{'id': '3', 'first name': 'Muhammad', 'last name': 'Taha', 'city': 'Dubai'}

In [13]:
customers.append(new_dic)

In [14]:
customers

[{'id': '0',
  'first name': 'Muhammad',
  'last name': 'Muzammil',
  'city': 'Karachi'},
 {'id': '0', 'first name': 'Muhammad', 'last name': 'Umar', 'city': 'Lahore'},
 {'id': '0',
  'first name': 'Muhammad',
  'last name': 'Siddique',
  'city': 'Karachi'},
 {'id': '3', 'first name': 'Muhammad', 'last name': 'Taha', 'city': 'Dubai'}]

37
Creating a dictionary that contains lists

In [15]:
new_dic = {"id": "3", "first name": "Muhammad",
             "last name": "Taha", "city": "Dubai",
          "discounts": ["standard", "volume", "loyalty"]}

In [16]:
customers

[{'id': '0',
  'first name': 'Muhammad',
  'last name': 'Muzammil',
  'city': 'Karachi'},
 {'id': '0', 'first name': 'Muhammad', 'last name': 'Umar', 'city': 'Lahore'},
 {'id': '0',
  'first name': 'Muhammad',
  'last name': 'Siddique',
  'city': 'Karachi'},
 {'id': '3', 'first name': 'Muhammad', 'last name': 'Taha', 'city': 'Dubai'}]

In [17]:
new_dic

{'id': '3',
 'first name': 'Muhammad',
 'last name': 'Taha',
 'city': 'Dubai',
 'discounts': ['standard', 'volume', 'loyalty']}

In [18]:
type(new_dic)

dict

38
How to get information out of a list
within a dictionary

In [19]:
new_dic

{'id': '3',
 'first name': 'Muhammad',
 'last name': 'Taha',
 'city': 'Dubai',
 'discounts': ['standard', 'volume', 'loyalty']}

In [25]:
for d in new_dic["discounts"]:
    if d == "brother-in-law":
        print("discount amount = 30%")
    elif d == "loyalty":
        print("discount amount = 15")
    elif d == "volume":
        print("discount amount = 10")
    elif d == "standard":
        print("discount amount = 5")

discount amount = 5
discount amount = 10
discount amount = 15

In [26]:
if "brother-in-law" in new_dic["discounts"]:
    print("discount_amount = .30")
elif "loyalty" in new_dic["discounts"]:
    print("discount_amount = .15")
elif "volume" in new_dic["discounts"]:
    print("discount_amount = .10")

discount_amount = .15